<!--<ion-view view-title="联系人">-->
  <ion-scroll  view-title="联系人">
  <br>
  <br>
  <br>
    <button ng-click="findConstanctxm()">查找联系人</button>
    <button ng-click="addConstanctxm()">添加联系人</button>
    <button ng-click="removeContan()">删除联系人</button>
    <input type="text" ng-model="constan.phone"/>
  {{count1}}<br>
    <div  class="item" ng-repeat="contanct in constactss">
        {{
        contanct.id +"----"+
        contanct.name.familyName +"----"+
        contanct.phoneNumbers[0].value
        }}
    </div>
  </ion-scroll>

  <!--<div class="button">-->
  <!--{{-->
  <!--constactss[0].toString()  +"&#45;&#45;&#45;&#45;"+-->
  <!--constactss[0].id     +"&#45;&#45;&#45;&#45;"+-->
  <!--constactss[0].displayName +"&#45;&#45;&#45;&#45;"+-->
  <!--constactss[0].nickname +"&#45;&#45;&#45;&#45;"+-->
  <!--constactss[0].phoneNumbers[0] +"&#45;&#45;&#45;&#45;"+-->
  <!--constactss[0].emails[0] +"&#45;&#45;&#45;&#45;"+-->
  <!--constactss[0].addresses[0] +"&#45;&#45;&#45;&#45;"+-->
  <!--constactss[0].organizations[0] +"&#45;&#45;&#45;&#45;"+-->
  <!--constactss[0].birthday +"&#45;&#45;&#45;&#45;"+-->
  <!--constactss[0].note +"&#45;&#45;&#45;&#45;"+-->
  <!--constactss[0].photos +"&#45;&#45;&#45;&#45;"+-->
  <!--constactss[0].categories[0] +"&#45;&#45;&#45;&#45;"+-->
  <!--constactss[0].url-->
  <!--}}-->
  <!--</div>-->

<!--</ion-view>-->

