<!--<ion-view view-title="Search">
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1>Search-&#45;&#45;dfgfd-</h1>
</ion-view>-->
<ion-view view-title="Search">
jfjdsoijfijdsijfijdsifjidsjfijdsiajfidsji--------1<br>
jfjdsoijfijdsijfijdsifjidsjfijdsiajfidsji--------2<br>
jfjdsoijfijdsijfijdsifjidsjfijdsiajfidsji--------3<br>
jfjdsoijfijdsijfijdsifjidsjfijdsiajfidsji--------4<br>
jfjdsoijfijdsijfijdsifjidsjfijdsiajfidsji--------5<br>
jfjdsoijfijdsijfijdsifjidsjfijdsiajfidsji--------6<br>
jfjdsoijfijdsijfijdsifjidsjfijdsiajfidsji--------7<br>
jfjdsoijfijdsijfijdsifjidsjfijdsiajfidsji--------8<br>
jfjdsoijfijdsijfijdsifjidsjfijdsiajfidsji--------9<br>
</ion-view>
